In [2]:
print("Haris Ahmed")

Haris Ahmed

In [11]:
name="Mark"
print(name)
name="ace"
print(name)
name = "Haris"
print(name)

Mark
ace
Haris

In [12]:
print("Hello, World!")

Hello, World!

In [15]:
org_num=10
new_num= org_num + 10
print(new_num)

20

In [20]:
num=2+2
num=num-2
num=num*5
num //=5
print(num)
num /=2
print(num)

2
1.0

In [21]:
num=10%3
print(num)

1

In [24]:
age = 10
age +=9
print(age)
age-=2
print(age)
age *=2
print(age)

19
17
34

In [27]:
age = 1 * 2 + 4 // 2
print(age)

4

In [5]:
greeting = "Hello"
addressee = "World"
seperator = ", "
punc = "!"
whole_greeting = greeting + seperator + addressee  + punc
print(whole_greeting)
whole_greeting = "Hello," + " World!"
print(whole_greeting)
print("Hello, "+ "World!")

Hello, World!
Hello, World!
Hello, World!

In [1]:
print("The sum of 2 plus 2 is "+ "4")
print("Haris "*12)

The sum of 2 plus 2 is 4
Haris Haris Haris Haris Haris Haris Haris Haris Haris Haris Haris Haris

In [10]:
print("My name is Haris,\\ my age is 18", end="\t")
print("I am student of \'BSCS\'")

My name is Haris,\ my age is 18	I am student of 'BSCS'

In [17]:
name = input("Enter Name: ")
age = int(input("Enter Age: "))

print("My Name is {} and my age is {}".format(name,age))
print("My Name is {0} and my age is {1}".format(name,age))
print(f"My Name is {name} and my age is {age} ")

Enter Name: Haris
Enter Age: 18
My Name is Haris and my age is 18
My Name is Haris and my age is 18
My Name is Haris and my age is 18

In [18]:
num = "12"
int(num)+12

24

In [21]:
ord("A")

65

In [25]:
chr(ord("A")+1100000)

'\U0010c921'

In [28]:
chr(87)

'W'

In [29]:
"PAKISTAN".lower()

'pakistan'

In [31]:
"pakistan".upper()

'PAKISTAN'

In [32]:
"Pakistan".title()

'Pakistan'

In [33]:
" yes ".strip()

'yes'

In [34]:
"Pakistan".replace("a","b")

'Pbkistbn'